* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

.Cart {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 20px;

}

.header{
    background-color: #afb281;
    margin-bottom: 20px;
  }
  .header__title{
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
  }


  .header__undirsíður{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1240px;
    padding: 0 20px;
  }

  .header__undirsíður__sidur{
    margin: auto;
  }

  .header__undirsíður__sidur a{
    padding: 2rem 1rem 2rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay:0.15s;
  }
  .header__undirsíður__sidur a:hover{
    padding: 0.5rem 1rem 1rem 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #cee8ff;

  }

  .header__undirsíður__pontun{
    float: right;
    padding-top: 15px;
    align-self: center;
    max-width: 100px;
  }

  .header__undirsíður__pontun a{
    float: right;
    color: #000000;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay:0.15s;
  }

  .header__undirsíður__pontun:hover a{
    float: right;
    color:#cee8ff;
    text-decoration: none;
  }

  .header__undirsíður__pontun img{
    font-weight: bold;
    margin-top: -0.5rem;
    padding-bottom: -0.5rem;
    margin-right:0.5rem;
    width: 2rem;
    height: 2rem;
  }

  .header__undirsíður__pontunin{
    float: left;
  }

  .header__undirsíður__pontunin a{
    visibility: hidden;
    float: right;
    color: #000000;
    text-decoration: none;
  }

  .header__undirsíður__pontunin img{
    visibility: hidden;
    font-weight: bold;
    margin-top: -0.5rem;
    padding-bottom: -0.5rem;
    margin-right:0.5rem;
    width: 2rem;
    height: 2rem;
  }
  @media (min-width: 570px){
    .header__undirsíður{
        flex-direction: row;
      }
        .header__undirsíður__pontun img {
      width: 1rem;
      height: 1rem;
    }
}





.Items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.Items h1,h2{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}
.Items__title{
  padding-left: 10px;
  padding-right: 10px;
}
.Item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom:40px;
}
.image{
  width: 100%;
}
.Item__photo{
  width: 100%;
}
@media(min-width:799px){
  .Item {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      margin-bottom:40px;
    }
  .Item__photo{
    max-width: 33.3333%;
    padding-left: 13.333332px;
}
.Item__about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 66.6667%;
  padding-left: 6.6666px;
}
.Item__header{
  margin-bottom: auto;
}
}
.Item__about{
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
}
.Item__header{
  margin-bottom: 40px;
}
.Item__title{
  margin: 20px 0;
}
.Item__text p{
font-size: 1rem;
}
.Item__price{
  font-size: 1.3125em;
  font-weight: bold;
  margin-top: auto;
}

.Item__button{
margin-top: 20px;
display: flex;
align-items: flex-end;
flex-wrap: wrap;
}
.Item__button input[type="text"]{
  width: 100px;
  height:32px;
  font-size: 1rem;
}
.Item__button label{
  width:100%;
}
.cart__btn{
  border-radius: 2px;
  background-color:#ffffff;
  font-size: 1rem;
  padding: 5px;
  border: solid 1px grey;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  margin-left: 10px;

}
.btn:hover{
    background-color: #cc9694
}
.karfaIcon {
  float: left;
  width: 20px;
  margin-right: 5px;
}











.Info{
display: flex;
max-width: 790px;
margin: auto;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
}
@media(min-width:800px){
.Info{
  flex-direction: row;
}
.Info__shipment,.Info__payment{
width: calc(50% - 10px);
}
}
.Info__shipment{
  margin-right: 10px;
}
.Info__payment{
  margin-left: 10px;
}

.Info__Title{
  margin-top: 20px;
}
.Info__form{
margin-top: 20px;
}
.Info__formItem{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.Info__input{
  height:30px;
  width:250px;
}
.Info__formInput{
  width:250px;
  display: flex;
  justify-content: space-between;
}
.Info__formItem select{
font-size: 1rem;
}
.Info__formItem label{
  margin-top: 2px;
}
@media(min-width){
.Info__formItem label{
  margin: auto 0;
  width:100px;
}
}
input[type="text"]{
  border-radius: 2px;
}

.Submit{
display: flex;
justify-content: center;
margin: 20px 0;
}
.Submit__btn {
  width: 250px;
  height: 50px;
  background-color: #cc9694;
  border-radius: 5px;
  font-size: 1rem;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;

}
.Submit__btn:hover{
    background-color: #000000
}












.footer h2{
    padding: 3rem 0 1.5rem 0;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
  }

.footer h3{
    margin: 1rem 0 0.5rem 0;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
  }

footer{
    width: 100%;
    background-color: #cc9694;
  }

  footer a{
    color: #fcffd2;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay:0.15s;
  }

  footer a:hover{
    color: #000000;
    text-decoration: none;
  }

  footer p{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
  }
  .footer{
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__undirsíður{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .footer__header{
      text-align: start;
  }
  .footer__undirsíður__links{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px;
    width: 50%;
    display: flex;
  }

@media (min-width: 810px){
  .footer__undirsíður__links{
          width: 25%;
      }
  }

  .footer__hofundarettur{
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
.footer  ul{
    color: #ffffff;
    font-size: 0.875rem;
    list-style: none;
  }

.footer  li{
    text-align: left;
    padding: 0 0 0.5rem 0;
  }
