*{
    margin: 0;
    padding: 0;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
main {
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;

}
html {
    box-sizing: border-box;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
    font-size: 16px;
}
/* Header */
.header{
    background-color: #afb281;
  }
  .header__title{
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
  }


  .header__undirsíður{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1240px;
    padding: 0 20px;
  }

  .header__undirsíður__sidur{
    margin: auto;
    float: center;
  }

  .header__undirsíður__sidur a{
    padding: 2rem 1rem 2rem 1rem;
    font-weight: bold;
    float: center;
    text-decoration: none;
    color: #000000;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay:0.15s;
  }
  .header__undirsíður__sidur a:hover{
    padding: 0.5rem 1rem 1rem 1rem;
    font-weight: bold;
    float: center;
    text-decoration: none;
    color: #cee8ff;
    
  }

  .header__undirsíður__pontun{
    float: right;
    padding-top: 15px;
    align-self: center;
    max-width: 100px;
  }

  .header__undirsíður__pontun a{
    float: right;
    color: #000000;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay:0.15s;
  }

  .header__undirsíður__pontun:hover a{
    float: right;
    color:#cee8ff;
    text-decoration: none;
  }

  .header__undirsíður__pontun img{
    font-weight: bold;
    margin-top: -0.5rem;
    padding-bottom: -0.5rem;
    margin-right:0.5rem;
    width: 2rem;
    height: 2rem;
  }

  .header__undirsíður__pontunin{
    float: left;
  }
  
  .header__undirsíður__pontunin a{
    visibility: hidden;
    float: right;
    color: #000000;
    text-decoration: none;
  }

  .header__undirsíður__pontunin img{
    visibility: hidden;
    font-weight: bold;
    margin-top: -0.5rem;
    padding-bottom: -0.5rem;
    margin-right:0.5rem;
    width: 2rem;
    height: 2rem;
  }

  body{
    width: 100%;
  }
.image{
    width: 100%;
    transition-timing-function: ease-in-out;
    transition: 0.3s;
}
.staff__item:hover .image{
    transform: scaleX(0.0);
}
.staff__item:hover .staff__info{ 
    opacity: 1;
}
.staff__item:hover .staff__nafn{
    transition-delay: 0.2s;
    transform: scaleX(1);
}
.staff__item:hover .staff__lysing{ 
    transition-delay: 0.2s;
    transform: scaleX(1);
}
.staff{
    position: relative;
}
.staff__info{
    transition-timing-function: ease-in-out;
    display: flex;
    align-self: center;
    flex-direction: column;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    padding: 15px;

}
.staff__nafn{
    display: flex;
    align-self: center;
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    padding-bottom: 30px;
    transform: scaleX(0);
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
.staff__lysing{
    display: flex;
    align-self: center;
    text-align: center;
    font-size: 4vw;
    transform: scaleX(0);
    transition: 0.3s;
    transition-timing-function: ease-in-out;

}
.staff{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin-left: -10px;
    margin-right: -10px;
}
.staff__item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom:20px;
}

/* FOOTER */ 


h2{
    padding: 3rem 0 1.5rem 0;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
  }

  h3{
    margin: 1rem 0 0.5rem 0;
    font-size: 1.25rem;
    font-family: 'Oswald', sans-serif;
  }

footer{
    width: 100%;  
    background-color: #cc9694;
  }

  footer a{
    color: #fcffd2;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-delay:0.15s;
  }
  
  footer a:hover{
    color: #000000;
    text-decoration: none;
  }

  footer p{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.75rem;
    text-align: center;
  }
  .footer{
    margin: 0 auto;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__undirsíður{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .footer__header{
      text-align: start;
  }
  .footer__undirsíður__links{
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px;
    width: 50%;
    display: flex;
  }
  .footer__hofundarettur{
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  ul{
    color: #ffffff;
    font-size: 0.875rem;
    list-style: none;
  }

  li{
    text-align: left;
    padding: 0 0 0.5rem 0;
  }

  /* MEDIA QUERIES */
@media (min-width: 500px){
.staff__item{
    width: 50%;
}
.staff__lysing{
    font-size: 2vw;
}
.staff__nafn{
    font-size: 4vw;
}
.staff__info{
    width: 50vw;
}
}
@media (min-width: 504px){
    .vorur__item{
        width: 50%;
    }
    .btn{
        width: 80%;
    }
}
@media (min-width: 810px){
    .vorur__item{
        width: 33.33%;
    }
    .btn{
        width: 70%;
    }
    .footer__undirsíður__links{
        width: 25%;
    }
}
@media (min-width: 570px){
    .header__undirsíður{
        flex-direction: row;
    }
}